<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
</head>
<body class="">

<div class="">
    {% block header %}
        <header class="jumbotron">
            <div class="container">
                <nav class="row">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main') }}">Главная</a>
                        </li>
                        {% if session.name %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('view_users') }}">Пользователи</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Авторизация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
                            </li>
                        {% endif %}
                        {% if session.name %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock header %}
    {% block content %}
        <main class="">

        </main>
    {% endblock content %}
    {% block footer %}
        <footer class="">
            <p></p>
        </footer>
    {% endblock footer %}
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
