{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {% for user in user_list %}
                    <img class="avatar" src="{{ url_for('static', filename= user.avatar ) }}" alt="avatar"/>
                {% endfor %}
                <form action="/upload_avatar" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <input type="file" name="file">
                    <input type="submit" value="Загрузить">
                </form>
            </div>
            <div class="col-sm-8">
                <ul>
                    {% for user in user_list %}
                        <li>{{ user.login }}</li>
                        <li>Registered {{ user.create_at.strftime("%d.%m.%Y") }}</li>
                        <li>Last update {{ user.update_at.strftime("%d.%m.%Y") }}
                            in {{ user.update_at.strftime("%H:%M") }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}
        <form method="post" action="/profile">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password_old.label }}
                {{ form.password_old(class='form-control', placeholder='Enter the old password') }}
            </div>
            <div class="form-group">
                {{ form.new_password1.label }}
                {{ form.new_password1(class='form-control', placeholder='Enter a new password') }}
            </div>
            <div class="form-group">
                {{ form.new_password2.label }}
                {{ form.new_password2(class='form-control', placeholder='Repeat the new password') }}
            </div>
            <p>{{ form.submit(class="bg-success text-white") }}</p>
        </form>
    </div>
{% endblock %}