{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Пользователи сайта</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Дата регистрации</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_list %}
                <tr>

                    <td>
                        {{ user.login }}
                    </td>
                    <td>
                        {{ user.create_at.strftime("%H:%M %d.%m.%Y") }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for page_num in range(1, pagination.get_page_count() + 1) %}
            {% if pagination.get_page() == page_num %}
                <a href="{{ url_for('view.view_users') }}?page={{ page_num }}"
                   class="btn btn-primary">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('view.view_users') }}?page={{ page_num }}"
                   class="btn btn-outline-primary">{{ page_num }}</a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}